* {
    margin: 0;
    padding: 0;
  }

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(199, 231, 189, 0.629);
}

.index-body {
    
}
.index-header {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 40px;
    background-color: rgba(199, 231, 189, 0.859);
    border-bottom: 1px solid rgba(116, 135, 110, 0.859);
}
.header-list{
    list-style-type: none;
    overflow: hidden;
    align-items: end;
}


li{
    float: left;
    margin: 10px;
}
li button{
    background-color: rgba(199, 231, 189, 0.859);
    border: 0cap;
    border-radius: 5px;
    padding: 8px;
    width: 70px;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

li button:hover {
    transform: scale(1.1); 
    background-color: rgb(12, 171, 12);
    box-shadow: 0 0 5px #04f548;
}
li button:hover::after{
    transform: scale(0);
    
}
    
li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    
}


.footer{

}